#logo {
  width: 50vw;
  margin-left: 1px;
  /* padding-top: 10vh; */
  display: inline-block;
}
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding-bottom: 250px;
}
title {
  font-family: 'Lobster', cursive;
  font-size: 20px;
}
body {
  background-color: #252851;
  font-family: 'Lobster', cursive;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0
}
p {
  /* box-sizing: border-box; */
  text-align: left;
  width: 100%;
}
.navbar {
position: fixed;
display: inline-block;
/* border-left: 25px; */
/* padding-left: 100px; */
display: inline-block;
background: #252851;
width: 100vw;
z-index: 1;
}
.navbar a {
  float: left;
  display: inline-block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}
a {
  color: hotpink;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}
.logo {
  text-align: left;
  display: inline-block;
}

.themixtapeslogo {
  text-align: center;
}
.splitImg {
  width: 25%;
  height: auto;
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block;
  object-fit: contain;
}
#splitFaces {
  margin-top: 10vh;
  position: relative;
  width: 100vw;
  height: 500px;
  display: inline-block;
  text-align: center;
}
.youtubeVideos {
  position: relative;
  display: inline-block;
  width: 50%;
  height: auto;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  text-align: center;
}
.responsive-iframe {
  display: inline-block;
  padding-left: 50px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50%;
}

.aboutDescription {
  width: 50%;
  display: inline-block;
}
.songs {
  padding-left: 5vw;
  padding right: 5vw;
  display: inline-block;
}
